body {
  margin: 30px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

.giphy-li {
  display: inline;
  padding-right: 10px;
}

h1 {
  width: 100%;
  text-align: center;
}

img {

  border-radius: 5px;
  margin: 10px;
}

.search-bar {
  padding-bottom: 15px;
}

input {
  width: 200px;
  height: 21px;
  font-size: 15px;
  font-family: 'Helvetica';
  margin-right: 2px;
  padding: 0;
  border: 1px solid lightgray;
}

button {
  padding: 6px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 10px;
}

button:hover {
  background-color: lightgray;
}

.form {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  width: 50%;
  display: flex;
  justify-content: center;
}